---
import type { FactsCardProps } from "@/utils/types";
import CardGradientBg from "@/components/background_animation/CardGradientBg.astro";
import FloatingParticlesBg from "@/components/background_animation/FloatingParticlesBg.astro";

interface Props extends FactsCardProps {}

const { icon: Icon, value, label, description, index, classname } = Astro.props;
---

<div class="relative" data-aos="zoom-in" data-aos-delay={300 + index * 100}>
  <div
    class={`border border-primary-foreground/10 hover:shadow-[var(--shadow-glass)] p-5 sm:p-8 rounded-2xl text-center transition-all duration-500 group relative overflow-hidden bg-card dark:bg-transparent flex flex-col gap-3 sm:gap-5 h-full ${classname}`}
  >
    <!-- Card background animation and icon scale on hover -->
    <CardGradientBg gridOpacity={0.1} gradientClass="bg-card" />
    <div class="flex flex-col gap-4 sm:gap-6 relative z-10">
      <div
        class="sm:size-20 size-10 rounded-2xl bg-primary/10 flex items-center justify-center mx-auto"
      >
        <Icon className="sm:size-10 size-5 text-primary" />
      </div>
      <div class="relative z-10 flex flex-col gap-4 sm:gap-6">
        <div class="flex flex-col gap-2 sm:gap-3">
          <div class="text-3xl md:text-5xl font-bold text-primary">
            {value}
          </div>
          <h3 class="text-lg sm:text-xl font-semibold">{label}</h3>
          <p class="text-muted-foreground text-sm leading-relaxed">
            {description}
          </p>
        </div>
        <!-- Floating particles -->
        <FloatingParticlesBg opacity={0.7} hoverOpacity={1} />
      </div>
    </div>
  </div>
</div>
